{% extends 'base.html.twig' %}

{% block title %}
    Steamish
{% endblock %}



{% block body %}
    <div class="container">

    <h2 class="mt-2">Les dernières sorties</h2>
        <div class="row">
            {% for game in lastGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    <h2>Les plus joués</h2>
        <div class="row">
            {% for game in mostPlayedGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card2 %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    <h2>Les derniers commentaires</h2>
        <div class="row">
            {% for comment in lastComments %}
                <div class="col-md-4">
                    <h5>{{comment.game.name}} </h5>
                    <p>{{comment.content|slice(0, 100) ~ '...' }} </p>
                    <p>Le {{comment.createdAt | date("m/d/Y") }}, par {{comment.account.name}} </p>
                </div>
            {% endfor %}
        </div>

    <h2>Les plus vendus</h2>
        <div class="row">
            {% for game in mostBoughtGames %}
                <div class="col-md-4 text-center cardGame my-3">
                    {% block card3 %}
                        {% include './card/_card.html.twig' %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}