{% extends 'base-admin.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Formulaire, ajout de jeux{% endblock %}

{% block body %}

    <div class="container">
        <h2>Formulaire d'ajout de jeux</h2>
        {{ form_start(form) }}
        <button type="submit" class="btn btn-secondary">Valider</button>
        {{ form_end(form) }}
        <a href="{{ path('app_game_admin') }}"><button class="btn btn-secondary">Retour</button></a>
    </div>

{% endblock %}