{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    {% for game in games %}
        <div class="col-md-3 text-center">
            {% block card %}
                {% include './card/_card.html.twig' %}
            {% endblock %}
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
