.cardGame{
    position: relative;
    width: 300px;
    margin: 0 auto;

    img{
        width: 100%;
        height: 350px;
        border-radius: 5%;
    }

    .description{
        overflow: hidden;
        padding: 2rem 1rem;
        width: 92%;
        height: 0;
        background-color: rgba(43, 37, 37, 0.514);
        color: white;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 1s all;
        border-radius: 5%;
    }

    &:hover{
        .description{
            height: 91%;
            opacity: 1;
        }
        cursor: pointer;
    }

    .price{
        position: absolute;
        left: 0;
        bottom: 10%;
        width: 25%;
        padding: 0.5rem;
        background-color: $priceBackGround;
        color: $priceColor;
        font-size: 1.1rem;
        font-weight: bold;
        z-index: 100;
        border-radius: 15%;
    }
}