
body {
  background-color: #272727;
}

h2 {
  color: $globalColor;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  color: $globalColor;
}

p {
  color: $globalColor;
}

h5 {
  color: $globalColor;
}