/* TEXT COLOR */
$globalColor: white;

/* PRICE */
$priceColor: rgb(255, 255, 255);
$priceBackGround: orangered;

/* COMMENTS */
$titleComment: orangered;
$paragraphColorComment: black;
$bgCommentColor: #909090;
$userComment: rgb(212, 73, 22);